html,
body {
  height: 460px;
  /** Fix FF popup disappearance on long window. */
  width: 600px !important;
  position: relative !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.sorting-header {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.main-content {
  overflow-x: hidden;
}

.info-section {
  background-color: #ff4747;
  text-align: center;
  padding: 5px;
}

.header-row {
  height: 30px;
  min-height: 30px;
  width: 100%;
}

.text-input {
  height: 30px !important;
  min-height: 30px !important;
}

.autocomplete-text-input {
  margin-top: 4px !important;
  min-width: 140px;
}

.regular-text-input {
  margin-top: -5px !important;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.profile-title {
  border: none !important;
  color: #fff !important;
  margin-top: 18px !important;
}

.section-title {
  color: rgb(63, 81, 181);
  font-weight: 500;
  margin: 5px 16px;
}

.md-button.md-icon-button {
  height: 20px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.remove-button-icon {
  fill: #f00;
}
.md-sidenav-left md-list-item {
  min-height: 36px;
  height: 36px;
}

.md-sidenav-left .md-sidenav {
  transition: none !important;
}

.setting-select {
  width: 250px;
}

.resource-type {
  margin-left: 2px;
}

md-autocomplete.md-default-theme.autocomplete,
md-autocomplete {
  background: transparent;
}

md-autocomplete.autocomplete md-autocomplete-wrap .md-whiteframe-1dp,
.md-whiteframe-z1 {
  box-shadow: none;
}

.large-textarea {
  width: 100%;
}

/*
 * Firefox doesn't show the menu properly (scaled down and jump around).
 * They also don't support @-moz-document url-prefix() in beta, so can't really
 * target only Firefox any more.
 */
.md-open-menu-container {
  transform: none !important;
  top: 12px !important;
}

/** Fix alignment issue */
md-input-container .md-input {
  padding-top: 8px;
}
