@use '@smui/button/_style.scss' as button;
@use '@smui/checkbox/_style.scss' as checkbox;
@use '@smui/chips/_style.scss' as chips;
@use '@smui/dialog/_style.scss' as dialog;
@use '@smui/drawer/_style.scss' as drawer;
@use '@smui/icon-button/_style.scss' as icon-button;
@use '@smui/menu-surface/_style.scss' as menu-surface;
@use '@smui/list/_style.scss' as list;
@use '@smui/select/_style.scss' as select;
@use '@smui/snackbar/_style.scss' as snackbar;
@use '@smui/tab/_style.scss' as tab;
@use '@smui/tab-bar/_style.scss' as tabbar;
@use '@smui/textfield/_style.scss' as textfield;
@use '@smui/top-app-bar/_style.scss' as topappbar;

:root {
  --disabled-background: #eee;
}

html,
body {
  font-family: Roboto, Helvetica Neue, sans-serif;
  position: relative !important;
  overflow-x: hidden;
  margin: 0;
}

button::-moz-focus-inner {
  border: 0;
}

.mdc-dialog__content {
  overflow-x: hidden !important;
}

.small-icon-button {
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
}

.medium-icon-button {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.ml-small {
  margin-left: 5px;
}

.dialog-close-button {
  float: right;
  top: 4px;
}

.data-table {
  margin-bottom: 10px;
  width: calc(100% - 10px);
}

.data-table-title {
  margin: 6px 0;
  font-size: 16px;
}

.data-table-row-unchecked {
  background: var(--disabled-background);
}

.data-table-row {
  display: flex;
  justify-content: start;
  height: 32px;
}

.data-table-title-row {
  margin-top: 5px;
  height: 40px;
}

.data-table-cell {
  padding: 0 2px;
}

.data-table .mdc-checkbox {
  padding: 2px;
  margin-top: 4px;
}

.data-table .mdc-checkbox .mdc-checkbox__background {
  top: 2px;
  left: 8px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-fixed-icon {
  flex-basis: 30px;
}

.more-menu-icon {
  margin: 0 5px 0 0;
  padding: 0 2px 0 0;
}
