<md-dialog flex="70">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Profile settings</h2>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-padding">
    <div layout="row" layout-align="space-between center">
      <span>On same header name: </span>
      <md-select ng-model="profile.appendMode" class="setting-select">
        <md-option value="false">Override existing value</md-option>
        <md-option value="true">Value concatenation</md-option>
        <md-option value="comma">Comma separated concatenation</md-option>
      </md-select>
    </div>

    <div layout="row" layout-align="space-between center">
      <span>Comment column:</span>
      <md-select ng-model="profile.hideComment" class="setting-select">
        <md-option value="false">Show</md-option>
        <md-option value="true">Hide</md-option>
      </md-select>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="closeDialog()" class="md-primary">
      Done
    </md-button>
  </div>
</md-dialog>
